
/* @media only screen and (min-width: 1168px) and (max-width: 1699px) { */
    .row{
        height: 100%;
    }
    
    .topheading{
        font-weight: bold;
        color: #A884DB;
        font-size: 18px;
    }
    .flexq{
        height: 76vh;

    }
    .flexpart{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .flexp{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .uweekly {
        border: 1px solid #fdca41;
        border-radius: 30px;
        padding: 6px 16px;
        background-color: #fccb4230;
        color: rgb(153, 120, 37);
        font-weight: 700;
        font-size: 11px;
        font-family: sans-serif;
        
    }
    .lLlibrary{
        font-weight: 700;
        font-size: 4vmax;
        font-family: 'Maven Pro', sans-serif;
        letter-spacing: -0.02;
        line-height: 1.1em;
    }
    
    .part2 {
        font-weight: 400;
        font-size: 1.8vmax;
        line-height: 1.4em;
        color: rgb(171, 171, 171);
    }
    
    .outterpart {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .browseb {
        border-radius: 12px;
        box-shadow: 0 1px 20px -6px #a884db;
        background-color: #a884db;
        color: white;
        padding: 6px 28px;
        font-weight: 700;
        font-size: 18px;
        text-decoration: none;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }

    .browseb:hover{
        transform: scale(1.02);
        box-shadow: 0 1px 30px -6px #a884db;

    }

    .outerb {
        border-radius: 12px;
        box-shadow: 0 1px 20px -6px #f6f0ff;
        background-color: #f6f0ff;
        text-decoration: none;
        padding: 6px 28px;
        position: relative;
        margin-left: 10px;
        cursor: pointer;
        transition: 0.3s ease-in-out;

    }

    .outerb:hover{
        /* transform: scale(1.02); */
        /* box-shadow: 0 1px 30px -6px #d0c3e2; */

    }


    .AIxDesignerb {
        color: #a884db;
        font-weight: 300;
        font-size: 18px;
    }
    
    .bonus {
        transform: rotate(-12deg);
        border-radius: 12px;
        background-color: #fdca41;
        top: -7px;
        left: -3px;
        font-weight: bold;
        width: 50px;
        position: absolute;
        color: rgb(120, 88, 7);
        font-size: 10px;
    }
    .curious {
        font-size: 16px;
        color: rgb(171, 171, 171);
    }
    
    .browsecomp {
        min-height: 300px;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .stayupd {
        color: #a884db;
        font-weight: 300;
        font-size: 18px;
    }     
    /* } */
    
    
    @media only screen and (max-width: 767px) {
        .topheading,.curious{
            font-size: 12px;
        }

        .lLlibrary{
            font-size: 5.2vmax;
            width: 70%;
        }
        
        .part2 {
            
            font-size: 2.4vmax;
            
        }

        .browseb {
            
            font-size: 14px;
           
        }

        .AIxDesignerb {
            
            font-size: 14px;
           
        }
        
        /* Add styles for mobile devices here */
      }
      
      /* Tablet devices (768px to 991px) */
      @media only screen and (min-width: 768px) and (max-width: 1167px) {
        .topheading.curious{
            font-size: 16px;
        }  
    }
    
    



    
    /* Desktop devices (1200px and above)
    @media only screen and (min-width: 1400px) {
        /* Add styles for desktop devices here */
        /* } */
        