


.outbox {
    padding: 50px 200px 0px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wait {
    font-size: 20px;
    font-family: 'Maven Pro';
    color: rgb(171, 171, 171);
}
.waitn {
    font-weight: 700;
    font-size: 3.6vmax;
    font-family: 'Maven Pro';
    letter-spacing: -0.02;
        line-height: 1.1em;
}

.flexp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.newsletterContent{
    font-size: 1.4rem; 
    width: 70%;
    line-height: 1.4em
}

.newsletter{
    margin-top: 5.5rem !important;
}

/* Mobile devices (up to 767px) */
@media only screen and (max-width: 767px) {
    
    .outbox{
      padding: 60px 20px 0px 20px;
      font-size: 16px;
    }
    .mail{
        width: auto;
    }
    .waitn {
        font-weight: 700;
        font-size: 5vmax;
    }
    .wait{
        font-size: 16px;
    }
    .topheading,.curious{
        font-size: 12px;
    }

    .newsletterContent{
        font-size: 1.1rem; 
        width: 100%;
        line-height: 1.4em
    }
    
}

@media only screen and (max-width: 336px) {
    .mail{
        width: 95%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .outbox{
        padding: 60px 60px 0px 60px;
        font-size: 28px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1699px) {
}


/* Desktop devices (1200px and above) */
/* @media only screen and (min-width: 1200px) { */
    /* Add styles for desktop devices here */
    /* } */