.App {
  text-align: center;
}

.normal-box{
  border-radius: 8px;
  border: 1px solid lightgrey;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;}

body, input, textarea, select, button {
  font-size: 16px;
  font-family: sans-serif;
} 
body{
  margin: 0;
  padding: 0;
}

.containerx {
  margin-top: 10px;
  width: auto;
  height: auto;
  overflow: hidden;
  position: relative;
}

.containerx:after {
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  height: 30%;
  bottom: 0px;
 
background: linear-gradient(180deg, rgba(139,167,32,0) 0%, rgba(255,255,255,1) 100%);
  pointer-events: none;
}



.xxx{
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
}



.cont {
  background: url(
    'https://framerusercontent.com/images/S7riAWks37BqmTaoWotazdmnJ8I.png');
  width: 250px;
  height: 250px;
  background-size: cover;
}


.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
	/* margin: 0 auto; */
  padding: 5px 2rem;
  /* border-radius: 0.2rem; */
  background-color: rgb(255, 255, 255);
  border: none;
  /* width: 90%; */
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

.shover:hover{
  transform: scale(1.07);
}
.shover{
    transition: transform 250ms ease-in-out;
}




.containerxyz {
  position: relative;
  width: 100%;
}

.sticky-div {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  padding: 10px;
  width: 100%;
  z-index: 2; /* Adjust the z-index as needed */
}

.content {
  /* Adjust margin-top to give space for the sticky div */
  margin-top: 50px; /* Change according to the height of sticky div */
}

.grad{
  background:  radial-gradient(92.9% 127.1% at 46.1% -9.6%, #A784DB 0%, #ffffff 85.05419481981981%);
  position: absolute;
  right: 0;
  left: 0;
  top: -333px;
  height: 598px;
  overflow: hidden;
  z-index: -3;
  transform: rotate(360deg);
}


.gradchangelog{
  background:  radial-gradient(92.9% 127.1% at 46.1% -9.6%, #A784DB 0%, #ffffff 85.05419481981981%);
  position: absolute;
  right: 0;
  left: 0;
  top: -333px;
  height: 598px;
  overflow: hidden;
  z-index: -3;
  transform: rotate(393deg);
}


/* Hide the scrollbar by default */




/* body{
  background: radial-gradient(circle, transparent 25%, #ffffff  26%),linear-gradient(45deg, transparent 46%, #f9f9f9 47%, #f9f9f9 52%, transparent 53%), linear-gradient(135deg, transparent 46%, #f9f9f9 47%, #f9f9f9 52%, transparent 53%);
  background-size: 2em 2em;
  background-color: #ffffff;
  opacity: 1
} */
